@import url('https://use.typekit.net/qlw1agr.css');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@font-face {
  font-family: activate-icons;
  src: url('../fonts/activate-icons/activate-icons.ttf?p5fv4m') format('truetype'),
    url('../fonts/activate-icons/activate-icons.woff?p5fv4m') format('woff'),
    url('../fonts/activate-icons/activate-icons.svg?p5fv4m#activate-icons') format('svg');
  font-style: normal;
  font-weight: normal;
  font-display:swap;
}
